
.error-text {
  font-size: 3.5rem;
  @media (min-width: "576px") {
    font-size: 3.5rem;
  }
  @media (min-width: "768px") {
    font-size: 4.5rem;
  }
  @media (min-width: "992px") {
    font-size: 5.5rem;
  }
  @media (min-width: "1200px") {
    font-size: 6.5rem;
  }
  @media (min-width: "1400px") {
    font-size: 7.5rem;
  }
}


.go-to-home-btn{
    background-color: var(--white);
    color: black;
  &:hover {
    background-color: var(--bs-primary);
    color: $white;
  }
}


.error-page{
  height: 100vh;
}
